html {
  background-color: #cdc9a5;
}
strong {
  color: #8b8b7a;
  font-size: 30px;
}
h2 {
  color: #8b8b7a;
  font-size: 26px;
}
h3 {
  color: #8b8b7a;
  font-size: 24px;
}
h4 {
  color: #8b8b7a;
  font-size: 22px;
}
h5 {
  color: #8b8b7a;
  font-size: 22px;
}
p {
  font-size: 20px;
}
